/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {                                /* Весь body */
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: var(--body-gap);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  max-inline-size: 700px;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-title);
  background-color: var(--bg-main-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-image);
  margin-inline-start: var(--body-margin-inline-start);
  margin-inline-end: var(--body-margin-inline-end);
  margin-block-start: var(--body-margin-block-start);
  margin-block-end: 103px;
}

.header {                              /* Шапка */
  background-color: inherit;
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: var(--header-logo-gap);
  align-items: center;
  border: 2px solid var(--text-color);
  padding-inline-start: var(--header-logo-padding-inline);
  padding-inline-end: var(--header-logo-padding-inline);
  padding-block-start: var(--header-logo-padding-block);
  padding-block-end: var(--header-logo-padding-block);
}

.header__title {
  font-variation-settings: 'wght' var(--font-weight-text);
  font-family: var(--font-accent);
  font-size: var(--title-size);
  color: var(--text-color);
}

.header__subtitle {
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--subtitle-size);
  text-transform: uppercase;
  color: var(--text-color);
}

.content {                                    /* Для всего <main>  */
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.section-list {
  display: grid;
  gap: var(--section-list-gap);
}

.section-list-item {
  color: var(--text-color);
  background-color: var(--bg-main-color);
}

.filter-brightness {                   /* Фильтры на картинки */
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-sepia {
  filter: sepia(200%);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-brightness-contrast-sepia  {
  filter: brightness(150%) contrast(90%) sepia(150%);
}

.filter-invert {                       /* Фильтры на картинки */
  filter: invert(0.8);
}

.card {                                       /* Карточка с контентом */
  border: 2px solid currentColor;
}

.card__title {
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: var(--h3-size);
  line-height: 1.21;
  margin-inline-start: var(--card-title-margin-inline-start);
  margin-block-start: var(--card-title-margin-block-start);
  margin-block-end: var(--card-title-margin-block-end);
}

.card__image-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image-label {                    /* Обертка для фотографии и лейбла */ 
  position: absolute;
  top: 28px;
  right: 26px;
  color: #000;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--font-button-size);
  line-height: 1;
  text-shadow:
  -1px -1px 0 var(--outline-color),
  1px -1px 0 var(--outline-color),
  -1px 1px 0 var(--outline-color),
  1px 1px 0 var(--outline-color);
}

@supports (-webkit-text-stroke: 1px var(--outline-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--outline-color);
    text-shadow: none;
  }
}

.card__box {                         /* Обертка для текста и кнопок */ 
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-inline: var(--card-box-margin-inline);
  margin-block-start: var(--card-box-margin-block-start);
  margin-block-end: var(--card-box-margin-block-end);
}

.card__text {                         /* Отдельная обертка для текста */ 
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__description {
  font-family: inherit;
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--h3-size);
  line-height: 1.163;
}

.button__wrapper {                  /* Отдельная обертка для кнопок */ 
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 6px;
}

.card__icon-button {                     /* Кнопка сердечка */
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  block-size: 38px;
}

.card__like-button {                        /* Кнопка с надписью лайк */ 
  border: 2px solid var(--border-button-color);
  position: relative;
  overflow: hidden;
  block-size: 38px;
  inline-size: 130px;
}

button {
  transition: box-shadow 0.3s ease;
}

.card__like-button .button__text {
  padding-block-start: 4px;
}

button:focus {
  outline: none;
}

button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0px var(--text-color);
}

.box-tape {                               /* обертка для кнопки */ 
  display: flex;
  justify-content: center;
}

.card__tape-button {                      /* Кнопка с дискетой после карточек */ 
  display: flex;
  flex-direction: row;                        
  block-size: 55px;
  inline-size: 339px;
  background-color: var(--bg-main-color);
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-button-color);
  gap: 8px;
  position: relative;
  padding-block-start: 3px;
}

button:not(.card__close-button)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--pseudo-button-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

button:not(.card__close-button):hover::before {
  transform: scaleX(1);
}

.button__text {                               /* Текст для кнопок */
  font-family: var(--font-accent);
  font-weight: var(--font-weight-text);
  font-size: var(--font-button-size);
  line-height: 0.9;
  position: relative;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}

dialog[open] {                                     /* Модальное окно */ 
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.dialog__wrapper {                          /* Обертка для контента внутри модального окна */ 
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog__wrapper .button__text {            /* Текст для контента внутри модального окна */ 
  text-transform: uppercase;
  line-height: 150%;
  max-inline-size: 234px;
}

dialog::backdrop {                       
  background-color: rgba(0, 0, 0, 0.75);           /* Затемнённый фон */
  pointer-events: auto;
}

.card__close-button {                             /* Кнопка закрытия 'Ок' */
  border: 2px solid var(--border-button-color);
  block-size: 38px;
  inline-size: 293px;
}

.floppy__image {                                /* svg иконка на кнопке кассеты 'сохранить на память' */ 
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
  filter: brightness(0) invert(1);
  inline-size: 21px;
  block-size: 21px;
}

.tape__image {                            /* svg иконка увеличенной кассеты внутри модального окна */
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.svg-box {
  align-self: center;
  block-size: 39px;
}

@media (max-width: 376px) {                     /* медиазапрос для разрешений меньше или равно 375px */
  .card__tape-button {                              /* Кнопка с дискетой после карточек */ 
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .card__close-button {                             /* Кнопка закрытия 'Ок' */
    inline-size: 257px;
  }

  .floppy__image {                                /* svg иконка на кнопке кассеты 'сохранить на память' */ 
    inline-size: 28px;
    block-size: 28px;
  }

  .card__image-label {                    /* Обертка для фотографии и лейбла */ 
    top: 24px;
    right: 12px;
  }

  .card__box {                         /* Обертка для текста и кнопок */ 
    margin-inline-end: 26px;
  }

  .dialog__wrapper {                          /* Обертка для контента внутри модального окна */ 
    max-inline-size: 257px;
  }

  dialog[open] {                                     /* Модальное окно */ 
    padding-inline: 36px;
  }
}