/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {                                /* Весь body */
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: var(--body-gap);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  max-inline-size: 700px;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-title);
  background-color: var(--bg-main-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--bg-image);
  margin-inline-start: var(--body-margin-inline-start);
  margin-inline-end: var(--body-margin-inline-end);
  margin-block-start: var(--body-margin-block-start);
  margin-block-end: 103px;
}

.header {                              /* Шапка */
  background-color: inherit;
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: var(--header-logo-gap);
  align-items: center;
  border: 2px solid var(--text-color);
  padding-inline-start: var(--header-logo-padding-inline);
  padding-inline-end: var(--header-logo-padding-inline);
  padding-block-start: var(--header-logo-padding-block);
  padding-block-end: var(--header-logo-padding-block);
}

.header__title {
  font-variation-settings: 'wght' var(--font-weight-text);
  font-family: var(--font-accent);
  font-size: var(--title-size);
  color: var(--text-color);
}

.header__subtitle {
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--subtitle-size);
  text-transform: uppercase;
  color: var(--text-color);
}

.content {                                    /* Для всего <main>  */
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.section-list {
  display: grid;
  gap: var(--section-list-gap);
}

.section-list-item {
  color: var(--text-color);
  background-color: var(--bg-main-color);
}

li:first-child .card__image {                   /* Фильтры на картинки */
  filter: brightness(150%);
}

li:nth-child(2) .card__image {
  filter: contrast(200%);
}

li:nth-child(3) .card__image {
  filter: sepia(200%);
}

li:nth-child(4) .card__image {
  filter: opacity(0.8);
}

li:nth-child(5) .card__image {
  filter: saturate(200%);
}

li:nth-child(6) .card__image {
  filter: hue-rotate(90deg);
}

li:nth-child(7) .card__image {
  filter: brightness(150%) contrast(90%) sepia(150%);
}

li:nth-child(8) .card__image {                       /* Фильтры на картинки */
  filter: invert(0.8);
}

.card {                                       /* Карточка с контентом */
  border: 2px solid currentColor;
}

.card__title {
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: var(--h3-size);
  line-height: 1.21;
  margin-inline-start: var(--card-title-margin-inline-start);
  margin-block-start: var(--card-title-margin-block-start);
  margin-block-end: var(--card-title-margin-block-end);
}

.card__image-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card__image-label {                    /* Обертка для фотографии и лейбла */ 
  position: absolute;
  top: 28px;
  right: 26px;
  color: #000;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--font-button-size);
  line-height: 1;
  text-shadow:
  -1px -1px 0 var(--outline-color),
  1px -1px 0 var(--outline-color),
  -1px 1px 0 var(--outline-color),
  1px 1px 0 var(--outline-color);
}

@supports (-webkit-text-stroke: 1px var(--outline-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--outline-color);
    text-shadow: none;
  }
}

.card__box {                         /* Обертка для текста и кнопок */ 
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-inline: var(--card-box-margin-inline);
  margin-block-start: var(--card-box-margin-block-start);
  margin-block-end: var(--card-box-margin-block-end);
}

.card__text {                         /* Отдельная обертка для текста */ 
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__description {
  font-family: inherit;
  font-variation-settings: 'wght' var(--font-weight-text);
  font-size: var(--h3-size);
  line-height: 1.16;
}

.button__wrapper {                  /* Отдельная обертка для кнопок */ 
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 12px;
}

.card__icon-button {                     /* Кнопка сердечка */
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.card__icon-button .core {
  transition: fill 0.3s linear;
  fill: transparent;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
}

.card__icon-button:not(:hover) .core {
  transition-delay: 0.03s;
}

.card__icon-button .main-body {
  transition: fill 0.5s linear 0.05s;
  fill: transparent;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
}

.card__icon-button:not(:hover) .main-body {
  transition: fill 0.3s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-button-color);
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .core {               /* Сердцевина при клике перекрашивается 0.3s*/ 
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}                                            

.like-icon.is-liked .main-body {    /* Основная часть сердца при клике перекрашивается 0.3s с задержкой 0.05s */
  transition: fill 0.3s linear 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {  /* Контур при клике перекрашивается 0.3s с задержкой 0.06s */
  transition: fill 0.3s linear 0.06s;
  fill: var(--animation-fill-color);
}

@keyframes hearts {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparks { 
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: hearts 0.3s ease-in 0.1s 1 backwards;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 backwards;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}


.card__like-button {                        /* Кнопка с надписью лайк */ 
  border: 2px solid var(--border-button-color);
  position: relative;
  overflow: hidden;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button:focus, .card__tape-button:focus {
  outline: none;
}

.card__like-button:focus-visible, .card__tape-button:focus-visible {
  box-shadow: 2px 2px 0px var(--text-color);
  transition: box-shadow 0.3s ease;
}

.box-tape {                               /* обертка для кнопки */ 
  display: flex;
  justify-content: center;
}

.card__tape-button {                      /* Кнопка с дискетой после карточек */ 
  display: flex;
  flex-direction: row;                        
  block-size: 50px;
  inline-size: 332px;
  background-color: var(--bg-main-color);
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-button-color);
  gap: 8px;
  position: relative;
}

.card__tape-button::before, .card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--pseudo-button-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__tape-button:hover::before, .card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {                               /* Текст для кнопок */
  font-family: var(--font-accent);
  font-weight: var(--font-weight-text);
  font-size: var(--font-button-size);
  line-height: 0.9;
  position: relative;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}

dialog[open] {                                     /* Модальное окно */ 
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 191px;
  inline-size: 353px;
}

.dialog__wrapper {                          /* Обертка для контента внутри модального окна */ 
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog__wrapper .button__text {            /* Текст для контента внутри модального окна */ 
  text-transform: uppercase;
  align-self: center;
  max-inline-size: 234px;
  line-height: 1.5;
}

dialog::backdrop {                       
  background-color: rgba(0, 0, 0, 0.75);           /* Затемнённый фон */
  pointer-events: auto;
}

.card__close-button {                             /* Кнопка закрытия 'Ок' */
  border: 2px solid var(--border-button-color);
  padding-block: 12px;
}

.floppy__image {                                /* svg иконка на кнопке кассеты 'сохранить на память' */ 
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
  filter: brightness(0) invert(1);
  inline-size: 21px;
  block-size: 21px;
}

.tape__image {                            /* svg иконка увеличенной кассеты внутри модального окна */
  align-self: center;
  block-size: 39px;
  inline-size: 39px;
}

@media (max-width: 376px) {                     /* медиазапрос для разрешений меньше или равно 375px */
  .card__tape-button {                              /* Кнопка с дискетой после карточек */ 
    flex-direction: column;
    block-size: 80px;
    inline-size: 306px;
  }

  .floppy__image {                                /* svg иконка на кнопке кассеты 'сохранить на память' */ 
    inline-size: 24px;
    block-size: 24px;
  }

  .card__title {
    margin-inline: 10px;
  }
}